<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    {{!-- Global CSS --}}
    <link rel="stylesheet" href="assets/css/styles.css">

    {{!-- Custom CSS --}}
    {{#if custom_css}}
        {{#each this.custom_css}}
            <link rel="stylesheet" href="{{path}}">
        {{/each}}
    {{/if}}
</head>
<body>
    {{> nav}}
    {{> body}}
    {{> footer}}

    {{!-- Scripts --}}
    {{{scripts}}}
</body>
</html>