---
title: Home
description: Sample description for meta
section: main
exclude_from_footer: true
custom_css: [
    {path: asset/css/pages/home.css},
    {path: asset/css/pages/home2.css}
]
scripts: <script src="asset/js/home.js"></script>
---

<h1>Home page {{site.name}}</h1>