<footer>
    <nav>
        <ul>
            {{#withSort pages "data.sortOrder"}}
                {{#isnt data.exclude_from_footer true}}
                    <li>
                        <a href="{{relative ../../page.dest this.dest}}">{{data.sectionName}}</a>
                    </li>
                {{/isnt}}
            {{/withSort}}
        </ul>
    </nav>

    <p>Copyright 2016 {{site.name}}</p>
</footer>