<nav>
    <ul>
        {{#withSort pages "data.sortOrder"}}
            {{#is data.section "main"}}
                <li {{#is ../../page.dest this.dest}} class="is-active"{{/is}}>
                    <a href="{{relative ../../page.dest this.dest}}">{{data.sectionName}}</a>
                </li>
            {{/is}}
        {{/withSort}}
    </ul>
</nav>
